body {
background: rgb(171, 212, 207);
font-family: Arial, Helvetica, sans-serif;
margin: 0px 90px;
padding: 1.5em;
width: 80%;
box-sizing: border-box;
float: left;
}

img{
  width: 100%;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0.5em;
  background-color: rgb(213, 233, 231);
}

.images {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin: 0;
  width: 30%;
  padding:1em;
  box-sizing: border-box;
  border-right: 1px solid black;
  font-size: 20px;
  text-align: center; 
  
}
nav ul li:last-child{
  border: none;
}



a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  #textboxid {
    width: 100%;
  }

  #message {
    height: 90px; width:100%;
  }

  .wrapper {
    width:200px; height:600px;
  }

  #radio {
    font-size: 12px;
  }
  
  ul.demo{
    margin: 0;
    padding: 1em;
    }


  section {
    background-color: rgb(213, 233, 231);
    width: initial;
    border: 1px solid black;
    padding: 30px 20px;
    margin: 0.1em;
  }


.send {
    background-color: rgb(213, 233, 231);
    font-size: 8px;
    height:30px;
    width: 40px;
    border: 1px solid black;
}

.mainimage {
    position: relative;
    text-align: center;
    color: white;
    width:100%;
  }

  /* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
  font-size: 50px;
}

.footer{
  font-size: 12px;
  position: relative;
  right: 3em;
  top: 1.5em;
  width: 100%;
  color: black;
  text-align: right;
  padding-bottom: 30px;
}
