body {
  background:lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  }

 
  main{
    padding: 0px;
    background: white;
  }
  img{
    width: 100%;
  }

  .firs-image{
    width: 100%;
  }
  
h1{
  font-size: 60px;
  margin-left: 10px;

}

p{
  margin-left: 10px;
  margin-right: 10px;
}

a{
  margin-left: 10px;
  margin-top: 20px;
  text-decoration: none;
}

.welcome i{
  color: black;
  margin-left: 10px;
  margin-top: 5px;
}

  /* .welcome{
  position: absolute;
  top: 60%;
  left: 45%;
  right: 50%;
  width: 70%;
  transform: translate(-45%, 20%);
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}  */


.welcome{
  position: absolute;
  top: 20%;
  margin-bottom: 10px;
  background-color: rgba(32, 31, 31, 0.582);
  width: 100%;
  height: 70%;
  text-align: left;
  color: white;
  
}


.intro{
  position: relative;
  max-width: 760px;
  margin: 0 auto;
}



  p{
    text-align: justify;
    text-justify: inter-word;
  }
  .container{
    max-width: 760px;
    margin:0 auto;
  }

  .button-bannerr{
    position: relative;
    background-color:#c78c06;
    font-size: 20px;
    padding: 30px;
    border: 1px solid black;
    color: black;
    position: relative;
    top: 10%;
    left: 0%;
  }


/*************** About Us  *****************/

.about
{
  max-width: 760px;
  margin:0 auto;
  background-color:#ffe6ac;
}


/*************** Our Services  *****************/
.our-services,
.our-team,
.contact-us
{
  max-width: 760px;
  margin:0 auto;
  background-color:white;
}

.digital, 
.marketing,
.video,
.web,
.print,
.block1,
.block2
{
  background-color:#ffe6ac;
  margin-bottom: 20px;
 height: 750px;
}

/*************** Digital transformation  *****************/
h2{
margin-left: 10px;
font-size: 30px;

}

.digital{

}

.button-banner1,
.button-banner2,
.button-banner3,
.button-banner4,
.button-banner5{
  position: relative;
  background-color:black;
  font-size: 20px;
  padding: 30px;
  border: 1px solid black;
  color: white;
  top: 5%;
  left: 0%;
}


i{
  color: white;
  margin-left: 10px;
  margin-top: 5px;
}


/*************** Hours of operation  *****************/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}

th, td {
  text-align: left; 
  padding: 10px;
}

table{
  width:100%
}

table th{
  background:#ffe6ac ;
}


/***********************************************************
                        Mobile 
 **********************************************************/
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li{
  padding: 10px;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1em;
}

/* header */
.mobile-logo{
  max-width: 150px;
}

.desktop-logo{
  display: none;
}


.banner{
  height: 400px;

}

.mobile-logo{  
    
    background: #c78c06;
    padding-right: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }


header{
background:#222;
text-align: center;

}

ul li a{
  color:  #c78c06;
  text-align: center;
  text-decoration: none;
}

ul li a:hover {
  background-color: #c78c06;
  color: #222;
}

ul li a:hover {
  background-color:#c78c06;
  color: white;
}


input{
}

button .im-magnifier{
  width:50%;
  margin: 0px;
  padding: 10px;
  background: #222;
  color: #c78c06;
  border: 1px solid #c78c06;

}



/*************** Our VIsion *****************/

.paper-boat{
  width: 100%;
}



/*************** Digital transformation  *****************/

.information {
  background-color:white;
  width: initial;
  padding: 30px 20px;
  margin: 0.1em;

 }
 #Yname { width: 100%;
  margin-top: 0.5em;
}

#email {
width: 100%;
margin-top: 0.5em;
}

#message {
height: 90px; width:100%;
margin-top: 0.5em;
}


.send {
  background-color:black;
  color: #c78c06;
  font-size: 8px;
  height:30px;
  width: 40px;
  border: 1px solid black;
}

/***********************************************************
                        Desktop
 **********************************************************/
@media screen and (min-width:760px){
ul li{
  float: left;
}
}

/* @media screen and (max-width: 1200px){

}  */

@media screen and (min-width:760px) and (max-width: 1200px){
  
}